@model IEnumerable<ABCGroup>

@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Задний фон */
    body {
        background-color: #0D1F2D;
        color: #FFFFFF;
    }

    /* Цвет главного контейнера */
    .main-container {
        background-color: #1d2e3d;
        color: #FFFFFF;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 10px;
    }

    /* Цвет контейнеров с описанием */
    .col-md-4, .col-md-3 {
        background-color: #354656;
        margin: 17px;
        padding: 10px;
        border-radius: 10px;
    }

    /* Стили для кнопок */
    .btn-secondary {
        background-color: #FF3D3D;
        border-color: #354656;
        color: #FFFFFF;
        margin-top: 20px;
    }

    .btn-secondary:hover {
        background-color: #4A9D9C;
        border-color: #1d2e3d;
        color: #FFFFFF;
    }
</style>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Управление производственными запасами</h1>
        <p>
            Материальные запасы, или продукция, ожидающая потребления, составляют значительную часть оборотных средств предприятия. Поэтому нерациональное управление запасами, например, создание необоснованно большого количества товарных запасов в торговой деятельности приводит к снижению уровня оборачиваемости денежного капитала, вложенного в создание запасов,а также к увлечению затрат на их хранение и, наоборот, в случае недостаточный объем запасов сырья в производстве может сорвать выполнение производственной программы или привести к ее изменению.
        </p>
    </div>
</div>

<div class="main-container">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2 style="color:#4A9D9C">ABC-анализ</h2>
                <p>Идея АВС-анализа состоит в том, чтобы из всего множества однотипных объектов, к примеру, ассортимента товаров, выделить наиболее значимые с точки зрения обозначенной цели.</p>
                <a class="btn btn-secondary" href="ABCAnalysis" role="button">Детали &raquo;</a>
            </div>
            <div class="col-md-4">
                <h2 style="color:#4A9D9C">XYZ анализ</h2>
                <p>
                    В случае, если спрос на материальный ресурс является стохастическим (описывается вероятностными характеристиками), то метод ABC явно недостаточен для оптимальной классификации.
                </p>
                <a class="btn btn-secondary" href="XYZAnalysis" role="button">Детали &raquo;</a>
            </div>
            <div class="col-md-3">
                <h2 style="color:#4A9D9C">Производственные запасы</h2>
                <p>Материальные запасы являются ключевым понятием логистики. Материальные запасы – это находящиеся на разных стадиях производства и обращения продукция производст-венно-технического назначения, изделия народного потребления и другие товары, ожидающие вступления в процесс личного или производственного потребления.</p>
                <a class="btn btn-secondary" href="ProductionStock" role="button">Детали &raquo;</a>
            </div>
            <div class="col-md-4">
                <h2 style="color:#4A9D9C">Отчеты</h2>
                <p>Раздел, в котором можно получить отчет по работе системы с определенным наименованием запаса в формате PDF.</p>
                <a class="btn btn-secondary" href="ABCAnalysis/Report" role="button">Детали &raquo;</a>
            </div>
            <div class="col-md-4">
                <h2 style="color:#4A9D9C">Пользователи</h2>
                <p>Список пользователей системы.</p>
                <a class="btn btn-secondary" href="User" role="button">Детали &raquo;</a>
            </div>
        </div>

        <hr>

    </div> <!-- /container -->
</div>
